@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins/vendor-prefixes";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/wells";

.container {
  @extend .well;

  height: 700px;
  width: 100%;
  overflow: auto;

  p:last-child {
    margin-bottom: 40px;
  }
}