$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

body {
  margin: 20px 0;
}

.content.reversed p:first-child {
  margin-top: 40px;
}

